.Day {
    display: flex;
    background-color: orange;
    width: 13vw;
    justify-content: space-evenly;
    flex-direction: column;
    border: solid;
    border-color: black;
    border-width: 2px;
}

.DayDetail {
    margin: 0;
    font-size: 14pt;
}