.Day {
    display: flex;
    background-color: orange;
    width: 13vw;
    justify-content: space-evenly;
    flex-direction: column;
    border: solid;
    border-color: black;
    border-width: 2px;
}

.DayDetail {
    margin: 0;
    font-size: 14pt;
    font-weight: bold;
    color: white;
}

.redDay {
    display: flex;
    background-color: red;
    width: 13vw;
    justify-content: space-evenly;
    flex-direction: column;
    border: solid;
    border-color: black;
    border-width: 2px;
}

.blueDay {
    display: flex;
    background-color: blue;
    width: 13vw;
    justify-content: space-evenly;
    flex-direction: column;
    border: solid;
    border-color: black;
    border-width: 2px;
}

.yellowDay {
    display: flex;
    background-color: #FFD700;
    width: 13vw;
    justify-content: space-evenly;
    flex-direction: column;
    border: solid;
    border-color: black;
    border-width: 2px;
}

.greenDay {
    display: flex;
    background-color: green;
    width: 13vw;
    justify-content: space-evenly;
    flex-direction: column;
    border: solid;
    border-color: black;
    border-width: 2px;
}